@model IEnumerable<Msn.InteropDemo.ViewModel.Vacunas.VacunaAplicacionGridItemViewModel>

        <table class="table table-sm table-hover table-responsive-sm">
            <thead>
                <tr class="small align-middle">
                    <th class="text-left">Consulta</th>
                    <th class="text-left">Snomed ID</th>
                    <th class="text-left">Snomed Term</th>
                    <th class="text-left">Esquema Aplicado</th>
                    <th class="text-center">Fecha Aplicación</th>
                    <th></th>
                </tr>
            </thead>    
            <tbody>
                @foreach (var item in Model)
                {
                <tr class="small align-middle">
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.FechaConsultaUI)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.SctConceptId)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.SctDescriptionTerm)
                    </td>
                    <td class="text-left">
                        &nbsp;
                    </td>
                    <td class="text-left">
                        &nbsp;
                    </td>
                    <td class="text-center">
                        @if (!item.EstaAplicada)
                        {
                            <button class="btn btn-primary btn-sm"
                                    data-conceptid="@item.SctConceptId"
                                    data-id="@item.Id"
                                    onclick="showEsquemaVacunaAplicacionModal(@item.Id,@item.SctConceptId)">
                                <span class="fas fa-syringe"></span>&nbsp;Nomivac
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-success btn-sm"
                                    data-conceptid="@item.SctConceptId" data-id="@item.Id">
                                <span class="fas fa-info-circle"></span>&nbsp;Detalle
                            </button>
                        }


                    </td>
                </tr>
                }
            </tbody>
        </table>
