@model Msn.InteropDemo.ViewModel.Evoluciones.EvolucionHistoViewModel

@{
    ViewData["Title"] = "Evolucionar Paciente";
    var pacienteSexoClass = Model.Sexo == "M" ? "fa-male" : "fa-female";
    var sexoNombre = Model.Sexo == "M" ? "Masculino" : "Femenino";
}

@section AddToHead {
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css">
}

<partial name="_Breadcrumb" model="@ViewBag.Breadcrumb" />

<hr />

<input asp-for="PacienteId" type="hidden" />
<input id="pacienteSexo" value="@Model.Sexo" type="hidden" />
<input id="pacienteEdad" value="@Model.PacienteEdad" type="hidden" />
<input id="sctConceptIdtoMap" type="hidden" />

<input id="evolucionId" type="hidden" value="@Model.PredefEvolucionId" />

@Html.AntiForgeryToken()

<div class="form-row">
    <div class="col-md-1 text-center">
        <div class="fa fa-4x @pacienteSexoClass"></div>
    </div>
    <div class="col-md-11 text-left">
        <div>
            <span>@Model.PacientePrimerApellido, @Model.PacientePrimerNombre, @Model.PacienteEdad años - @sexoNombre</span>
        </div>
        <div>
            <span>Fecha de nacimiento: @Model.PacienteFechaNacimiento</span>
        </div>
        <div>
            <span>@Model.PacienteTipoDocumentoNombre: @Model.PacienteNroDocumento</span>
        </div>
    </div>
</div>


<ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active"
           id="consulta-tab-link"
           data-toggle="tab"
           href="#consulta-tab"
           role="tab"
           aria-controls="home"
           aria-selected="true">Consultas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           id="vacuna-tab-link"
           data-toggle="tab"
           href="#vacunas-tab-link"
           role="tab"
           aria-controls="vacunas-tab-link"
           aria-selected="false">Vacunas</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="consulta-tab" role="tabpanel" aria-labelledby="consulta-tab-link">
        <div class="form-row mt-2">
            <div class="col-md-2">
                <div class="card">
                    @*<div class="card-header text-center">
                            <b>Consultas</b>
                        </div>*@
                    <div class="card-body" style="padding-top:10px;">
                        <a href="#!" onclick="setupNuevaEvolucion()"><span class="fa fa-plus-circle mb-3"></span> Nueva consulta</a>
                        <div id="evolucionListMenuContainer">
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <div id="currentConsultaFecha" style="display:none;">
                            <b><span id="currentFechaConsultaText"></span></b> - Consulta Ambulatoria - <span id="currentConsultaProfesionalFullname"></span>
                        </div>
                        <div id="nuevaConsultaTitulo" class="text-primary" style="display:none;">
                            <span><b>Ingresando Nueva consulta</b></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-2">
                                <div>
                                    <b>Motivo de consulta:</b>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <table id="tableHallazgos" class="table table-sm table-responsive-sm">
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                <a href="#!" id="btnSerachHallazgos" onclick="showSearchSnowstormHallagos()" style="font-size:14px;"><span class="fa fa-plus-circle"></span> Agregar Diagóstico</a>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-2">
                                <div>
                                    <b>Evolución:</b>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <textarea id="textAreaObservacion" rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col-md-6">
                                <div>
                                    <b>Indicar Vacunas</b>
                                </div>
                                <table id="tableVacunas" class="table table-sm table-responsive-sm">
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                <a href="#!" id="btnSearchVacunas" onclick="showSearchSnowstormVacunas()" style="font-size:14px;"><span class="fa fa-plus-circle"></span> Agregar Vacuna</a>
                                            </td>
                                        </tr>
                                    </tfoot>

                                </table>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <b>Indicar Medicamentos</b>
                                </div>
                                <table id="tableMedicamentos" class="table table-sm table-responsive-sm">
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                <a href="#!" id="btnSearchMedicamentos" onclick="showSearchSnowstormMedicamentos()" style="font-size:14px;"><span class="fa fa-plus-circle"></span> Agregar Medicamento</a>
                                            </td>
                                        </tr>
                                    </tfoot>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group float-right mt-3">
            <button id="btnSaveEvolucion" onclick="saveEvolucion()" type="button" class="btn btn-outline-primary">Grabar Consulta</button>
        </div>
        <br />
        <br />
    </div>
    <div class="tab-pane fade" id="vacunas-tab-link" role="tabpanel" aria-labelledby="profile-tab">
        <div class="form-row mt-2">
            <div class="col-md-12">
                <div id="vacunasGridContainer" style="display:none;"></div>
            </div>
        </div>
    </div>
</div>

<partial name="Partials/_SearchSnowstormModal" />
<partial name="Partials/_MapeoCIE10MultipleModal" />
<partial name="Partials/_AplicarVacunaModal" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/moment.js-2240/moment.js"></script>
    <script src="~/lib/moment.js-2240/es-us.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>

    <script src="~/js/Views/Seguimiento/Evolucionar/EvolucionarPaciente.js"></script>
    <script src="~/js/Views/Seguimiento/Evolucionar/SearchSnowstormModal.js"></script>
    <script src="~/js/Views/Seguimiento/Evolucionar/VacunasPaciente.js"></script>
    <script src="~/js/Views/ConfirmDialog.js"></script>
    <script src="~/js/Views/DropDownHelper.js"></script>
    <script src="~/js/Views/DateTimeHelper.js"></script>
}
