@model IEnumerable<Msn.InteropDemo.ViewModel.Activity.ActivityLogListItemViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Log de Actividades</h1>


<table class="table table-hover table-sm table-responsive-sm">
    <thead>
        <tr>
            <th>Momento</th>
            <th>Tipo Actividad</th>
            <th>Requerimiento</th>
            <th>Respuesta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    <span class="small">@item.CreatedDateTimeUI</span>
                    @*@Html.DisplayFor(modelItem => item.CreatedDateTimeUI)*@
                </td>

                <td class="text-left">
                    <span class="small">@item.ActivityTypeDescriptorName</span>
                    @*@Html.DisplayFor(modelItem => item.ActivityTypeDescriptorName)*@
                </td>
                <td class="text-left">
                    @if (item.RequestIsURL)
                    {
                        <a href="@item.ActivityRequestUI" target="_blank">
                            <span class="small">@item.ActivityRequestUI</span>
                        </a>

                    }
                    else if (item.RequestIsJson)
                    {


                        <span class="small">@item.ActivityRequestUI</span>
                        <br />
                        <button class="btn btn-link" onclick="viewJson('@item.Id', true)" target="_blank">
                            <span class="small">@item.ActivityRequestBody</span>
                        </button>

                        @*<span class="small">@item.ActivityRequestBody</span>*@
                    }
                    else
                    {
                        <span class="small">@item.ActivityRequest</span>
                    }


                </td>
                <td class="text-left">
                    @if (item.ResponseIsJson)
                    {
                        <span class="small">@item.ActivityResponse</span>
                        <br />
                        <button class="btn btn-link" onclick="viewJson('@item.Id', false)" target="_blank">
                            <span class="small">@item.ActivityResponseBody</span>
                        </button>
                    }
                    else
                    {
                        <span class="small">@item.ActivityResponse</span>
                    }


                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="jsonModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Json - Detalle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre id="jsonContent">
                </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        function viewJson(id, isRequest) {
            var loc = window.rootUrl + "Seguimiento/LogActividades/GetActivity/" + id;
            var modalBox = $('#jsonModalScrollable');
            var jsonContent = $('#jsonContent');

            $.ajax({
                url: loc,
                type: 'GET',
                dataType: 'json',
                cache: false,
                success: function (data) {

                    var body = '';
                    if (isRequest) {
                        body = data.activityLog.activityRequestBody;
                    }
                    else {
                        body = data.activityLog.activityResponseBody;
                    }
                    
                    jsonContent.html(body);
                    modalBox.modal('show');
                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                    alert(request.responseText);
                }
            });
        }

    </script>
}
